body {
  background: #e0e0e0;
}

.header {
  text-align: center;
  margin: 2rem 0;
  font-size: 4rem;
}

.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  margin: 30px;
  text-align: center;
  border-radius: 19px;
  background: #e0e0e0;
  box-shadow: inset 8px 8px 16px #d3d3d3, inset -8px -8px 16px #ededed;
  padding: 1em;
}
.btnwrapper {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
button {
  text-align: center;
  padding: 1rem 3rem;
  border-radius: 14px;
  background: #e0e0e0;
  box-shadow: 10px 10px 18px #bababa, -10px -10px 18px #ffffff;
  border-radius: 14px;
  background: #e0e0e0;
  box-shadow: 10px 10px 18px #bababa, -10px -10px 18px #ffffff;
}
a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}
